{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static 'assets/css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app-modern.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-modern-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
        
    </head>
    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'>

        <!-- @@include('./partials/topbar-dark.html') -->
        {% include "topbar-dark.html" %}
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- Begin page -->
            <div class="wrapper">

                {% include "detached-left-sidebar.html" %}

                <div class="content-page">
                    <div class="content">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item active">Add Brush</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!-- <div class="form-group">
                                                    <label for="projectname">Name</label>
                                                    <input type="text" id="projectname" class="form-control" placeholder="Enter brush name">
                                                </div>

                                                <div class="form-group">
                                                    <label for="project-overview">Overview</label>
                                                    <textarea class="form-control" id="project-overview" rows="5" placeholder="Enter some brief about project.."></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <label>Start Date</label>
                                                    <input type="text" class="form-control" data-provide="datepicker" data-date-format="d-M-yyyy" data-date-autoclose="true">
                                                </div>

                                                <div class="form-group">
                                                    <label for="project-budget">Budget</label>
                                                    <input type="text" id="project-budget" class="form-control" placeholder="Enter project budget">
                                                </div>-->
                                               <form method="post"  action="add_brush">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-0">
                                                        <div class="form-group">
                                                            <label for="brushType"><strong>Brush Type :</strong></label> 
                                                            {{form.brushType}}
                                                        </div>                                             
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                    <!-- <button type="submit" value="Submit" class="btn btn-secondary">Submit</button> -->
                                                </form>

                                            </div> <!-- end col-->

                                            <!-- <div class="col-xl-6">
                                                <div class="form-group mt-3 mt-xl-0">
                                                    <label for="projectname" class="mb-0">Avatar</label>
                                                    <p class="text-muted font-14">Recommended thumbnail size 800x400 (px).</p>

                                                    <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                                                        data-upload-preview-template="#uploadPreviewTemplate">
                                                        <div class="fallback">
                                                            <input name="file" type="file" />
                                                        </div>

                                                        <div class="dz-message needsclick">
                                                            <i class="h3 text-muted dripicons-cloud-upload"></i>
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </form> 

                                                    <div class="dropzone-previews mt-3" id="file-previews"></div>

                                                    <div class="d-none" id="uploadPreviewTemplate">
                                                        <div class="card mt-1 mb-0 shadow-none border">
                                                            <div class="p-2">
                                                                <div class="row align-items-center">
                                                                    <div class="col-auto">
                                                                        <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                                                    </div>
                                                                    <div class="col pl-0">
                                                                        <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                                                                        <p class="mb-0" data-dz-size></p>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                                            <i class="dripicons-cross"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                                
                                            </div> <!-- end col-->
                                        </div>
                                        <!-- end row -->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                        
                    </div> <!-- End Content -->

                    {% include "footer.html" %}

                </div> <!-- content-page -->

            </div> <!-- end wrapper-->
        </div>
        <!-- END Container -->


        {% include "right-sidebar.html" %}


        <!-- bundle -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

        <!-- plugin js -->
        <script src="{% static 'assets/js/vendor/dropzone.min.js' %}"></script>
        <!-- init js -->
        <script src="{% static 'assets/js/ui/component.fileupload.js' %}"></script>
        
    </body>
</html>
