{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

<div class="container-fluid">
    <div class="wrapper">
        {% include 'left-sidebar.html' %}
        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="d-flex justify-content-center">
                            {% if user.get_first_name %}
                            <h1>{{ user.get_first_name }}'s Profile</h1>
                            {% else %}
                            <h1>Profile</h1>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'pictures/blankavatar.png' %}"
                                class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <form method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <hr class="block">
                            <div class="d-flex justify-content-center">
                                {{ form.name }}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {{ form.email }}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {{ form.username }}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {{ form.site }}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <button type="submit" id="submit-button" class="btn btn-primary" value="submit" name="edit-profile">Submit</button>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>


{% endblock content %}