{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<script src="{% static 'js/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- Start Content-->
<div class="container-fluid">

    <div class="wrapper">
        <div class="row">
            {% include "left-sidebar.html" %}
        </div>
        <div class="col-lg-10">
            <div class="row">

                <div class="content-page">

                    <div class="content">

                        {% if messages %}
                        {% for message in messages %}
                        <div class="messages {{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <br>
                        <hr class="rounded">
                        <br>
                        <!-- Graph / table div -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-4">Past Due %</h4>

                                        <canvas id="pie-chart" width="800" height="450"></canvas>
                                        <script>
                                            var total = "{{ total|safe }}";
                                            var pastDue = "{{ pastDue|safe }}";
                                            new Chart(document.getElementById("pie-chart"), {
                                                type: 'pie',
                                                data: {
                                                    datasets: [{
                                                        backgroundColor: ["#3e95cd", "#c45850"],
                                                        data: [total, pastDue]
                                                    }]
                                                },

                                            });
                                        </script>
                                        <div class="row text-center mt-2 py-2">
                                            <div class="col-6">
                                                <i class="mdi mdi-trending-up text-success mt-3 h3"></i>
                                                <h3 class="font-weight-normal">
                                                    <span>{{ upToDatePercent }}%</span>
                                                </h3>
                                                <p class="text-muted mb-0">Up to Date!</p>
                                            </div>

                                            <div class="col-6">
                                                <i class="mdi mdi-trending-down text-danger mt-3 h3"></i>
                                                <h3 class="font-weight-normal">
                                                    <span>{{ pastDuePercent }}%</span>
                                                </h3>
                                                <p class="text-muted mb-0">Behind</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-right">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div id="taskDropdown" class="dropdown-menu dropdown-menu-right">
                                                <a onclick="onDataSelect()" id="behindDropdown" class="dropdown-item"
                                                    data-value="Behind">Behind</a>
                                                <a onclick="onDataSelect2()" id="upcomingDropdown" class="dropdown-item"
                                                    data-value="Upcoming">Upcoming</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-3">Tasks</h4>

                                        <p><b>{{ behindCount }}</b> Tasks behind</p>
                                        <p><b>{{ upcomingCount }}</b> Tasks upcoming</p>
                                        <!--table-responsive-->
                                        <div class="taskTable" id="taskTable">
                                            <table id="behindUpcomingTable"
                                                class="table table-centered table-nowrap table-hover mb-0"
                                                id="taskTable">
                                                <tbody id="behindTableBody">
                                                    {% for i in behind.itertuples %}
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="" class="text-body">{{ behindHeaders.2 }}</a></h5>
                                                            <span class="text-muted font-13">{{ i.brushStyle }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Component</span>
                                                            <h5 class="font-14 mt-1 font-weight-normal">{{ i.component }}</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Side / Set Number</span>
                                                            <h5 class="font-14 mt-1 font-weight-normal">{{ i.side }} /
                                                                {{ i.setNum }}</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                                    class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                                    class="mdi mdi-delete"></i></a>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br />
                                                            <span class="badge badge-danger-lighten">Outdated</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                                {% for i in upcoming.itertuples %}
                                                <tbody id="upcomingTableBody">
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-14 my-1"><a href="" class="text-body">{{ behindHeaders.2 }}</a></h5>
                                                            <span class="text-muted font-13">{{ i.brushStyle }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Component</span>
                                                            <h5 class="font-14 mt-1 font-weight-normal">{{ i.component}}</h5>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Side / Set Number</span>
                                                            <h5 class="font-14 mt-1 font-weight-normal">{{ i.side }} / {{ i.setNum }}</h5>
                                                        </td>
                                                        <td class="table-action" style="width: 90px;">
                                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                                    class="mdi mdi-pencil"></i></a>
                                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                                    class="mdi mdi-delete"></i></a>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted font-13">Status</span> <br />
                                                            <span class="badge badge-warning-lighten">Upcoming</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                {% endfor %}

                                            </table>
                                        </div> <!-- end table-responsive-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->

                        <!-- table divs -->
                        <div class="row">
                            <div class="col-12">
                                {% if df %}
                                <hr class="rounded">
                                <h4>Miscellaneous</h4>

                                <table class="table table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Part</th>
                                            <th>Date Replaced</th>
                                            <th>Due Date</th>
                                            <th>Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in df %}
                                        <tr>
                                            <td>{{ i.1 }}</td>
                                            <td>{{ i.2 }}</td>
                                            <td>{{ i.3 }}</td>
                                            <td class="editable" data-id="{{ i.0 }}" data-type="notes">{{ i.4 }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                                <hr class="rounded">
                                {% if curtains %}
                                <h4>Curtains</h4>
                                <table class="table table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Set Number</th>
                                            <th>Motor</th>
                                            <th>Cloth</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j in curtains %}
                                        {% for h in j %}
                                        {% for i in h %}
                                        <tr>
                                            <td>{{ i.setNum }}</td>
                                            <td>{{ i.motor }}</td>
                                            <td>{{ i.cloth }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                                <hr class="rounded">
                                {% if rockers %}
                                <h4>Rockers</h4>
                                <table class="table table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Side</th>
                                            <th>Set Number</th>
                                            <th>Motor</th>
                                            <th>Bearings</th>
                                            <th>Cloth</th>
                                            <th>Shocks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j in rockers %}
                                        {% for h in j %}
                                        {% for i in h %}
                                        <tr>
                                            <td>{{ i.side }}</td>
                                            <td>{{ i.setNum }}</td>
                                            <td>{{ i.motor }}</td>
                                            <td>{{ i.bearings }}</td>
                                            <td>{{ i.cloth }}</td>
                                            <td>{{ i.shocks }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}

                                <hr class="rounded">
                                {% if wraps %}
                                <table class="table table-centered mb-0">
                                    <h4>Wrap Brushes</h4>
                                    <thead>
                                        <tr>
                                            <th>Side</th>
                                            <th>Set Number</th>
                                            <th>Motor</th>
                                            <th>Shaft</th>
                                            <th>Bearings</th>
                                            <th>Upper Bearings</th>
                                            <th>Cloth</th>
                                            <th>Shocks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j in wraps %}
                                        {% for h in j %}
                                        {% for i in h %}
                                        <tr>
                                            <td>{{ i.side }}</td>
                                            <td>{{ i.setNum }}</td>
                                            <td>{{ i.motor }}</td>
                                            <td>{{ i.shaft }}</td>
                                            <td>{{ i.bearings }}</td>
                                            <td>{{ i.upperBearings }}</td>
                                            <td>{{ i.cloth }}</td>
                                            <td>{{ i.shocks }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                                <hr class="rounded">
                                {% if sideWashers %}
                                <table class="table table-centered mb-0">
                                    <h4>Side Washers</h4>
                                    <thead>
                                        <tr>
                                            <th>Side</th>
                                            <th>Set Number</th>
                                            <th>Motor</th>
                                            <th>Shaft</th>
                                            <th>Bearings</th>
                                            <th>Upper Bearings</th>
                                            <th>Cloth</th>
                                            <th>Shocks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j in sideWashers %}
                                        {% for h in j %}
                                        {% for i in h %}
                                        <tr>
                                            <td>{{ i.side }}</td>
                                            <td>{{ i.setNum }}</td>
                                            <td>{{ i.motor }}</td>
                                            <td>{{ i.shaft }}</td>
                                            <td>{{ i.bearings }}</td>
                                            <td>{{ i.upperBearings }}</td>
                                            <td>{{ i.cloth }}</td>
                                            <td>{{ i.shocks }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <hr class="rounded">
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>

<script src="{% static 'assets/js/vendor/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>

<script>
    function refresh_page() {
        window.location.reload();
        console.log("Refresh");
    }

    $(document).ready(function () {
        $(document).on("click", ".editable", function () {
            var value = $(this).val();
            var input = "<textarea type='text' class='input-data' value='" + value + "' class='form-control' rows='5' cols='50'>";
            $(this).html(input);
            $(this).removeClass("editable")
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });
        $(document).on("blur", ".input-data", function () {
            var value = $(this).val();
            console.log(value)
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });

        function sendToServer(id, value, type) {
            console.log(value)
            console.log(type)
            console.log(id)
            $.ajax({
                url: "http://127.0.0.1:8000/updateNotes",
                type: "POST",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                data: { id: id, type: type, value: value },
            })
                .done(function (response) {
                    refresh_page()
                    console.log(response);
                })
                .fail(function () {
                    console.log("Error Occured");
                });
        }
    }); 
</script>

{% endblock content %}