{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    
    <div class="h-100" id="left-side-menu-container" data-simplebar>
        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Links</li>
            <li class="side-nav-item">
                <a href="{% url 'home' %}" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'update_schedule' %}" class="side-nav-link">
                    <i class="uil-clipboard-alt"></i>
                    <span>Brush Comp Schedule</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'update_hydraulic_hose_schedule' %}" class="side-nav-link">
                    <i class="uil-clipboard-alt"></i>
                    <span>Hyd Hose Schedule</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="{% url 'update_inventory' %}" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span>Inventory</span>
                </a>
            </li>
     
        </ul>
    </div>
</div>