{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="content">
    <br>
    <div class="bodyDiv">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="formDiv">
                    <form method='POST' action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" name="username" id="username" required=""
                                placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <a href="pages-recoverpw-2.html" class="text-muted float-right"><small>Forgot your
                                    password?</small></a>
                            <label for="password">Password</label>
                            <input class="form-control" name="password" type="password" required="" id="password"
                                placeholder="Enter your password">
                        </div>
                        <!-- <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                                <label class="custom-control-label" for="checkbox-signin">Remember me</label>

                            </div>
                        </div> -->
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i>Log
                                In</button>
                        </div>
                    </form>
                </div>

                <br><br>
                <div class="d-flex justify-content-center">
                    <p class="text-muted">Don't have an account? <a href="{% url 'register' %}"
                            class="text-muted ml-1"><b>Sign Up</b></a></p>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</body>

<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>

{% endblock content %}