{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="container-fluid">
        <div class="wrapper">
            {% include 'left-sidebar.html' %}
            <div class="content-page">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="d-flex justify-content-center">
                                {% if user.get_first_name %}
                                <h1>{{ user.get_first_name }}'s Profile</h1>
                                {% else %}
                                <h1>Profile</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-2"><br>
                            <div class="d-flex justify-content-center">
                                <form action="{% url 'profile' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" value="edit" name="edit">Edit Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'pictures/blankavatar.png' %}"
                                    class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">            
                                <h3>About Me</h4> 
                            </div>
                            <hr class="rounded">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <!-- <p class="text-muted mb-2 font-13"><strong>Full Name</strong></p> -->
                                <h5>Full Name</h5>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {% if user.get_full_name %}
                                <span class="ml-2">{{user.get_full_name}}</span>
                                {% else %}
                                <span class="ml-2"></span>
                               
                                {% endif %}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <h5>Email</h5>
                            </div>
                        </div>
                        <hr class="rounded">
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {% if user.email %}
                                <span class="ml-2">{{user.email}}</span>
                                {% else %}
                                <span class="ml-2"></span>
                                
                                {% endif %}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <h5>Username</h5>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {% if user.username %}
                                <span class="ml-2">{{user.username}}</span>
                                {% else %}
                                <span class="ml-2"></span>
                               
                                {% endif %}
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <h5>Site</h5>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                {% if site %}
                                <span class="ml-2">{{ site }}</span>
                                {% else %}
                                <span class="ml-2"></span>
                               
                                {% endif %} 
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <h5>Light Mode / Dark Mode</h5>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-center">
                                <form action="{% url 'profile' %}" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-primary" value="light" name="light">Light Mode</button>
                                    <button type="submit" class="btn btn-primary" value="dark" name="dark">Dark Mode</button>
                                </form>
                            </div>
                            <hr class="block">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>                                 
<!-- </body> -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>



{% endblock content %}