{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/update_schedule.css' %}">

    <div class="container-fluid">
        <div class="wrapper">
            {% include "left-sidebar.html" %}
            <div class="content-page">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Wash Components</h4>
                            </div>
                        </div>
                    </div> <!--end row-->
                    <hr class="rounded">
                    <div class="row">
                        <div class="col-lg-2 border-right">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <form action="" method='post'>
                                        {% csrf_token %}
                                        {{ formSelect.as_p }}
                                        <input class="inputForm" type="submit" value="Select" name="brushBtn">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            {% if brushes %}
                            <h4>{{ component }}</h4>
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in brushes %}
                                <tbody>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                    <td>{{ i.5 }}</td>
                                    <td>{{ i.6 }}</td>
                                    <td>{{ i.7 }}</td>
                                    <td>{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                            </table>
                            <hr class="rounded">
                            {% endif %}
                            
                            {% if curtainCur %}
                            <h4>{{ component }}</h4>
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in curtainCur %}
                                <tbody>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                    <td>{{ i.5 }}</td>
                                    <td>{{ i.6 }}</td>
                                    <td>{{ i.7 }}</td>
                                    <td>{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                            </table>
                            <hr class="rounded">
                            {% endif %}
                            
                            {% if rockerCur %}
                            <h4>{{ component }}</h4>
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in rockerCur %}
                                <tbody>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                    <td>{{ i.5 }}</td>
                                    <td>{{ i.6 }}</td>
                                    <td>{{ i.7 }}</td>
                                    <td>{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                            </table>
                            <hr class="rounded">
                            {% endif %}
                                                        
                            {% if compData %}
                            {% if component2 %}
                            <h4>{{ component2 }}</h4>
                            {% else %}
                            <h4>{{ component }}</h4>
                            {% endif %}
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersComp %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in compData %}
                                <tbody>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}
                        </div>
                    </div> <!--end row-->
                    <div class="row">
                        <div class="col-lg-12">
                            {% if brushes %}
                            <h4>{{ component }}</h4>
                            <h5>Component last updated date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in brushes %}
                                    <tr>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="side">{{ i.0 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="setNum">{{ i.1 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="motor">{{ i.3 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="shaft">{{ i.4 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="bearings">{{ i.5 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="upperBearings">{{ i.6 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="cloth">{{ i.7 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="shocks">{{ i.8 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}
                            
                            {% if dueDate %}
                            <h5>Suggested due date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in dueDate %}
                                <tbody>
                                    <td class="" data-id="{{ i.2 }}" data-type="sideDue">{{ i.0 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="setNumDue">{{ i.1 }}</td> 
                                    <td class="" data-id="{{ i.2 }}" data-type="motorDue">{{ i.3 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="shaftDue">{{ i.4 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="bearingsDue">{{ i.5 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="upperBearingsDue">{{ i.6 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="clothDue">{{ i.7 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="shocksDue">{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}

                            {% if curtainCur %}
                            <h4>{{ component }}</h4>
                            <h5>Component last updated date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in curtainCur %}
                                    <tr>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="side">{{ i.0 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="setNum">{{ i.1 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="motor">{{ i.3 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="cloth">{{ i.4 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}

                            {% if curtainDue %}
                            <h5>Suggested due date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in curtainDue %}
                                <tbody>
                                    <td class="" data-id="{{ i.2 }}" data-type="sideDue">{{ i.0 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="setNumDue">{{ i.1 }}</td> 
                                    <td class="" data-id="{{ i.2 }}" data-type="motorDue">{{ i.3 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="shocksDue">{{ i.4 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}

                            {% if rockerCur %}
                            <h4>{{ component }}</h4>
                            <h5>Component last updated date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in rockerCur %}
                                    <tr>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="side">{{ i.0 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="setNum">{{ i.1 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="motor">{{ i.3 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="bearings">{{ i.4 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="cloth">{{ i.5 }}</td>
                                        <td class="editable" data-id="{{ i.2 }}" data-type="shocks">{{ i.6 }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}

                            {% if rockerDue %}
                            <h5>Suggested due date</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersBrushes %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in rockerDue %}
                                <tbody>
                                    <td class="" data-id="{{ i.2 }}" data-type="sideDue">{{ i.0 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="setNumDue">{{ i.1 }}</td> 
                                    <td class="" data-id="{{ i.2 }}" data-type="motorDue">{{ i.3 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="bearingsDue">{{ i.4 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="clothDue">{{ i.5 }}</td>
                                    <td class="" data-id="{{ i.2 }}" data-type="shocksDue">{{ i.6 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}

                            {% if compData %}
                            {% if component2 %}
                            <h4>{{ component2 }}</h4>
                            {% else %}
                            <h4>{{ component }}</h4>
                            {% endif %}
                            <h5>Make updates in table below - click on table where you want to update the date.</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersComp %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in compData %}
                                <tbody>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="name">{{ i.1 }}</td>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="dateReplaced">{{ i.2 }}</td>
                                    <td class="" data-id="{{ i.0 }}" data-type="dueDate">{{ i.3 }}</td>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="notes2">{{ i.4 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr class="rounded">
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>

    <script src="{% static 'assets/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>

<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='text' class='input-data' value='"+value+"' class='form-control'>";
            $(this).html(input);
            $(this).removeClass("editable")
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });
        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });
        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if(key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type = td.data("type");
                sendToServer(td.data("id"), value, type);
            }
        });

        function sendToServer(id, value, type){
            console.log(value)
            console.log(type)
            console.log(id)
            $.ajax({
                url: "http://127.0.0.1:8000/saveSchedule",
                type: "POST",
                beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                data: {id:id, type:type, value:value},
            })
            .done(function(response){
                console.log(response);
            })
            .fail(function(){
                console.log("Error Occured");
            });
        }
    });
</script>

{% endblock content %}