{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="loading" data-layout="detached"
    data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <div class="container-fluid">
        <div class="wrapper">
            {% include "left-sidebar.html" %}
            <div class="content-page">
                <div class="content">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Wash Components</h4>
                            </div>
                        </div>
                    </div> <!--end row-->
                    <hr class="rounded">
                    <div class="row">
                        <div class="col-lg-2 border-right">
                            <div class="card-body text-center">
                                <form action="" method='post'>
                                    {% csrf_token %}
                                    {{ formSelect.as_p }}
                                    <input class="inputForm" type="submit" value="Select">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            {% if brushes %}
                            <h4>{{ component }}</h4>
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headers %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in brushes %}
                                <tbody>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                    <td>{{ i.5 }}</td>
                                    <td>{{ i.6 }}</td>
                                    <td>{{ i.7 }}</td>
                                    <td>{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                            </table>
                            {% endif %}
                            {% if compData %}
                            <h4>{{ component }}</h4>
                            <h5>Dates shown are the dates of last update. (This table cannot be edited) </h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersComp %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in compData %}
                                <tbody>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.4 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div> <!--end row-->
                    <hr class="rounded">
                    <div class="row">
                        <div class="col-lg-12">
                            {% if brushes %}
                            <h4>{{ component }}</h4>
                            <h5>Make updates in table below - click on table where you want to update the date.</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headers %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in brushes %}
                                <tbody>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="side">{{ i.0 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="setNum">{{ i.1 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="motor">{{ i.3 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="shaft">{{ i.4 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="bearings">{{ i.5 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="upperBearings">{{ i.6 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="cloth">{{ i.7 }}</td>
                                    <td class="editable" data-id="{{ i.2 }}" data-type="shocks">{{ i.8 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                            {% if compData %}
                            <h4>{{ component }}</h4>
                            <h5>Make updates in table below - click on table where you want to update the date.</h5>
                            <table class="table table-centered mb-0">
                                <thead>
                                    <tr>
                                        {% for i in headersComp %}
                                        <th>{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% for i in compData %}
                                <tbody>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="name">{{ i.1 }}</td>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="dateReplaced">{{ i.2 }}</td>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="dueDate">{{ i.3 }}</td>
                                    <td class="editable" data-id="{{ i.0 }}" data-type="notes2">{{ i.4 }}</td>
                                </tbody>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="rounded">
                </div>
            </div>
        </div>
    </div>


    {% include "right-sidebar.html" %}

    <!-- bundle -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>

    <!-- third party js -->
    <script src="{% static 'assets/js/vendor/Chart.bundle.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'assets/js/pages/demo.dashboard-projects.js' %}"></script>
    <!-- end demo js-->

</body>
<style>
    .inputForm {
        background-color: whitesmoke;
        border-color: #4169E1;
        position: relative;
        display: block;
        width: 8em;
        height: 3.2em;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;
        padding-bottom: 10px;
    }

    .dropdownMenu {
        position: relative;
        display: block;
        width: 8em;
        height: 2em;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;
        padding-bottom: 10px;
    }

    hr.rounded {
        border-top: 8px solid #bbb;
        border-radius: 5px;
    }
    .border-right{
        border-right: 15px solid #bbb;
        border-radius: 10px;   
    }
</style>

<script>
    $(document).ready(function(){
        $(document).on("click", ".editable", function(){
            var value = $(this).text();
            var input = "<input type='text' class='input-data' value='"+value+"' class='form-control'>";
            $(this).html(input);
            $(this).removeClass("editable")
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });
        $(document).on("blur", ".input-data", function(){
            var value = $(this).val();
            var td = $(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type = td.data("type");
            sendToServer(td.data("id"), value, type);
        });
        $(document).on("keypress", ".input-data", function(e){
            var key = e.which;
            if(key == 13){
                var value = $(this).val();
                var td = $(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type = td.data("type");
                sendToServer(td.data("id"), value, type);
            }
        });

        function sendToServer(id, value, type){
            console.log(value)
            console.log(type)
            console.log(id)
            $.ajax({
                url: "http://127.0.0.1:8000/saveSchedule",
                type: "POST",
                beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                data: {id:id, type:type, value:value},
            })
            .done(function(response){
                console.log(response);
            })
            .fail(function(){
                console.log("Error Occured");
            });
        }
    });
</script>

{% endblock content %}